*{
    box-sizing: border-box;
}
body{
    background-color: #dbf0ed;
}


/* Guess Container */
.guess-container{

}
guess-input{

}
guess-button{
    
}

/* results container */
.results{
border: black 1px solid;
}
.warm-or-cold{

}
.remaining-turns{

}
.last-guess{

}